name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        qt_version: ["6.8.0"]
        qt_host: ["windows"]
        qt_target: ["desktop"]
        qt_arch: ["win64_mingw"]

    steps:
      - uses: actions/checkout@v4

      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: ${{ matrix.qt_version }}
          host: ${{ matrix.qt_host }}
          target: ${{ matrix.qt_target }}
          arch: ${{ matrix.qt_arch }}
          dir: ${{ github.workspace }}/qt

      - name: Configure CMake
        run: >
          cmake ${{ github.workspace }}/example
          -G "MinGW Makefiles"
          -DCMAKE_BUILD_TYPE=Release
          -DCMAKE_PREFIX_PATH="$env:QT_ROOT_DIR"
        shell: pwsh

      - name: Build
        run: cmake --build . --parallel
        shell: pwsh
        working-directory: ${{ github.workspace }}/example/build
