# .github/workflows/ci.yml
name: CI

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Qt 6.10.2 (win64_mingw)
        uses: jurplel/install-qt-action@v3
        with:
          version: '6.10.2'
          host: windows
          target: desktop
          arch: win64_mingw

      - name: Build example
        shell: pwsh
        run: |
          cd example
          mkdir build
          cd build
          # Устанавливаем PATH, чтобы g++ был первым в списке
          $env:PATH = "$env:QT_BASE_PATH\bin;$env:PATH"
          # Указываем CMake использовать Ninja и найти Qt6
          cmake .. -G "Ninja" -DCMAKE_BUILD_TYPE=Release -DCMAKE_FIND_ROOT_PATH="$env:QT_BASE_PATH"
          cmake --build .
