# .github/workflows/ci.yml
name: CI

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  debug:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: '6.10.2'
          host: windows
          target: desktop
          arch: win64_mingw
      - name: Find g++.exe
        shell: pwsh
        run: |
          Write-Host "=== QT_BASE_PATH ==="
          Write-Host $env:QT_BASE_PATH
          Write-Host "=== Contents of QT_BASE_PATH ==="
          Get-ChildItem $env:QT_BASE_PATH
          Write-Host "=== Contents of QT_BASE_PATH\bin ==="
          Get-ChildItem "$env:QT_BASE_PATH\bin" | Where-Object { $_.Name -like "*g++*" } | Select-Object Name, FullName
          Write-Host "=== Try to run g++ ==="
          & "$env:QT_BASE_PATH\bin\g++.exe" --version
