# .github/workflows/ci.yml
name: CI

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Qt 6.10.2 (win64_mingw)
        uses: jurplel/install-qt-action@v3
        with:
          version: '6.10.2'
          host: windows
          target: desktop
          arch: win64_mingw

      - name: Build example
        shell: pwsh
        run: |
          # Устанавливаем PATH так, чтобы папка с компилятором из Qt была первой
          # $env:PATH = "$env:QT_BASE_PATH\bin;$env:PATH" # Это может не сработать для mingw32-make
          
          # Проверим, что компилятор есть
          Write-Host "Looking for compiler in: $env:QT_BASE_PATH\bin"
          Get-ChildItem "$env:QT_BASE_PATH\bin" | Where-Object { $_.Name -like "*g++.exe" }
          
          cd example
          mkdir build
          cd build
          
          # Явно указываем компилятор и make программу
          cmake .. -G "MinGW Makefiles" `
                   -DCMAKE_BUILD_TYPE=Release `
                   -DCMAKE_PREFIX_PATH="$env:QT_ROOT_DIR" `
                   -DCMAKE_CXX_COMPILER="$env:QT_BASE_PATH\bin\g++.exe" `
                   -DCMAKE_C_COMPILER="$env:QT_BASE_PATH\bin\gcc.exe" `
                   -DCMAKE_MAKE_PROGRAM="$env:QT_BASE_PATH\bin\mingw32-make.exe"
          
          cmake --build .
